.pop
{
    border-style: solid;
    border-radius: 1px;
    width:250px;
    background-color: rgb(241, 234, 234);
    color:rgb(19, 18, 18);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.text{
    text-align: center;

}
.header{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;

}


.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    background-color: #343a40!important;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }



  #myInput {
    
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  #myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
  }
  
  #myTable th, #myTable td {
    text-align: left;
    padding: 12px;
  }
  
  #myTable tr {
    border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
  }
  .gasf-header{
    padding-top: 20px;
    text-align: center;
  }
  .gasf-form{
    position: relative;
    padding: 50px;
    margin:auto;
    left:90px;
    
    border: 1px solid black;
    top:50px
  }